@using SchoolMvc.Models;
<div>
 
    
        <h1>@ViewBag.stu.Id</h1>
        <h1>@ViewBag.stu.FirstName</h1>
        <h1>@ViewBag.stu.LastName</h1>
        <h1>@ViewBag.stu.Age</h1>
                    
    
</div>

    <h2>GetStudentById</h2>

